/* ============================= */
/* RESPONSIVIDADE */
/* ============================= */

@media (max-width: 1024px) {
    .container-card {
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
    }

    .carousel-card {
        min-width: 80%;
    }
}
@media (max-width: 768px) {

    body {
        padding-top: 100px; /* mais espaço pra navbar */
    }

    .nav-container {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
    }

    .container-card {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .cardi {
        width: 280px;
        height: 380px;
    }

    .carousel-card {
        min-width: 100%;
    }

    .img-servico {
        height: 180px;
    }

    h1, h2 {
        font-size: 26px;
    }
}
@media (max-width: 480px) {

    #logo {
        height: 75px;
    }

    .sobre {
        padding: 20px;
    }

    .sobre p {
        font-size: 14px;
    }

    .btn-whatsapp {
        font-size: 18px;
        padding: 10px 18px;
    }

    .card {
        width: 95%;
        padding: 12px;
    }

    .cardi {
        width: 250px;
        height: 340px;
    }

    .img-sobre {
        width: 120px;
        height: 120px;
    }

    h4 {
        font-size: 22px;
    }

    .ft p {
        font-size: 14px;
    }
}